/* You can add global styles to this file, and also import other style files */
/* @import './assets/styles/bootstrap.min.css'; */
@import './assets/styles/typography.css';

@import './assets/styles/style.css';

@import './assets/styles/responsive.css';

.title-box-1 {}


header .navbar-light .navbar-nav li.active .nav-link,
header .navbar-light .navbar-nav li .nav-link:hover {
    background: linear-gradient(to right, #F44336 0%, rgb(190, 24, 12) 100%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.overlay-wrapper {
    position: fixed;
    background: #464646de;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 99;
  }
  
  .show-popup {
    display: block;
  }
  
  .change-location-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }
  
  .change-location {
    margin: 1rem;
    font-size: 1rem;
    padding: 4px 20px;
    border-radius: 13px;
  }
  
  .change-location-wrapper .new-location-wrapper {
    background: #ffffff;
    padding: 1rem;
    max-width: 500px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-height: 134px;
    margin: auto;
  }
  
  .change-location-wrapper .new-location-wrapper h3 {
    padding: 8px 0;
    font-size: 23px;
  }
  
  
  #close-it {
    background: #434343;
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  
  #close-it:hover {
    background: red;
  }
  

  