<section class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-text">
                    <h5 class="main-color mb-3">AI Quaran Team</h5>
                    <h1 class="font-weight-bold  mb-3">AI for Healthcare</h1>
                    <p class=" mb-4">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                        necessary.
                    </p>
                    <div class="align-items-center">
                        <a class="button" href="#liveVideoSection">Track Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-type wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <img class="img-fluid banner-person" src="../assets/images/ai-head.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner section end here -->

<section class="live-video-track-wrapper" id="liveVideoSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="video-container">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/obtERdHvM8o?controls=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Video container end here-->

        <div class="row mt-3 bg-fancy">
            <div class="col-lg-3 col-md-6">
                <div class="rplr-30">
                    <div class="future-services services  text-center wow slideInUp" data-wow-duration="0.5s"
                        style="visibility: visible; animation-duration: 0.5s; animation-name: slideInUp;">

                        <h4 class="mb-3">Targeting Autonomous</h4>
                        <p class="mb-0">There are many variations of passages of the have suffered in some form.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rplr-30">
                    <div class="future-services services text-center wow slideInUp" data-wow-duration="1s"
                        style="visibility: visible; animation-duration: 1s; animation-name: slideInUp;">
                        <h4 class="mb-3">Media Buying</h4>
                        <p class="mb-0">There are many variations of passages of the have suffered in some form.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rplr-30">
                    <div class="future-services services text-center wow slideInUp" data-wow-duration="1.5s"
                        style="visibility: visible; animation-duration: 1.5s; animation-name: slideInUp;">
                        <h4 class="mb-3">Analytics &amp; Insights</h4>
                        <p class="mb-0">There are many variations of passages of the have suffered in some form.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rplr-30">
                    <div class="future-services services text-center wow slideInUp" data-wow-duration="0.5s"
                        style="visibility: visible; animation-duration: 0.5s; animation-name: slideInUp;">
                        <h4 class="mb-3">Optimization &amp; Testing</h4>
                        <p class="mb-0">There are many variations of passages of the have suffered in some form.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



</section>

<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="title-box-1">
                <h2 class="title font-weight-bold">Coronavirus Cases</h2>
                <p class="sub-title">COVID-19 CORONAVIRUS PANDEMIC</p>
            </div>
        </div>
    </div>
</div> -->
<section class="main-bg counter">
    <div class="container">
        <div class="row iq-counter3 text-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-counter iq-pt-30 iq-rmb-30">
                    <span class="timer text-white" data-to="575" data-speed="5000">6.6M</span>
                    <h6 class="mt-3 text-white">Confirmed</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-counter iq-pt-30 iq-rmb-30">
                    <span class="timer text-white" data-to="1540" data-speed="5000">378,334</span>
                    <h6 class="mt-3 text-white">Deaths</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-counter iq-pt-30 iq-rmb-30">
                    <span class="timer text-white" data-to="110" data-speed="5000">2.9M</span>
                    <h6 class="mt-3 text-white">Recovered</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mb-2">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="title-box-1">
                <h2 class="title font-weight-bold">How it works</h2>
                <p class="sub-title">We are life saviour</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="future-services text-center wow slideInUp" data-wow-duration="0.5s"
                style="visibility: visible; animation-duration: 0.5s; animation-name: slideInUp;">
                <div class="future-img">
                    <img src="../../assets/images/01.png" class="img-fluid mb-4" alt="">
                </div>
                <h4 class="mb-3">Live Camera</h4>
                <p class="mb-0">There are many variations of passages of the have suffered in some form.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="future-services text-center wow slideInUp" data-wow-duration="1s"
                style="visibility: visible; animation-duration: 1s; animation-name: slideInUp;">
                <div class="future-img">
                    <img src="../../assets/images/01.png" class="img-fluid mb-4" alt="">
                </div>
                <h4 class="mb-3">Detect Details</h4>
                <p class="mb-0">There are many variations of passages of the have suffered in some form.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="future-services text-center wow slideInUp" data-wow-duration="1.5s"
                style="visibility: visible; animation-duration: 1.5s; animation-name: slideInUp;">
                <div class="future-img">
                    <img src="../../assets/images/01.png" class="img-fluid mb-4" alt="">
                </div>
                <h4 class="mb-3">Save your time</h4>
                <p class="mb-0">There are many variations of passages of the have suffered in some form.</p>
            </div>
        </div>
    </div>
</div>