<footer *ngIf="!router.url.includes('dashboard')" id=" contact" class="footer-bg pt-2 pb-2" style="margin-top: -11px;">
    <div class="container">
        <div class="pt-2" style="margin-left: 35%;">
            <div class="row justify-content-between">
                <div class="col-auto text-center">
                    <h6 class="text-white iq-font-18"><span>&copy; &nbsp;All right reserved </span><a target="_blank"
                            href="https://thalesglobal.com/">
                            Thales</a></h6>
                </div>
            </div>
        </div>
    </div>
</footer>